.banner-startlearn {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner-startlearn-title {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 500;
    color: white;
    align-items: center;
  }

  .banner-startlearn-link {
    text-align: center;
    padding: 20px 67px;
    background-color: white;
    border-radius: 35px;
    width: 500px;
    margin: 30px auto 0; 

    a {
      font-size: 30px;
      color: $text-color;
    }
  }
}

@media (max-width:376px ) {
  .banner-startlearn {
    height: 182px ;

    .banner-startlearn-content {
      .banner-startlearn-title {
        font-size: 23px;
      }

      .banner-startlearn-link {
        padding:10px 20px;
        width: 200px ;

        a {
          font-size: 18px;
          width: auto ;
        }
      }
    }
  }
}
