.breadcrumb-link {
  color: black;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    color: $text-color;
  }
}

.course-detail-body {
  background-color: $course-detail-color;

  .course-image {
    width: 100%;
    height: 450px;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}

.course-detail-container {
  width: 90%;
  margin: 0 auto;
}

.course-detail {
  margin-top: 130px;
}

.gruop-search form{
  display: flex;
  margin-left: 30px;

  input {
    width: 244px;
    height: 40px;
    background-color: white;
    color: $text-color-2;
    border: 1px solid $input-border-color;
    border-radius: 5px;
    padding: 0 10px;
  }

  .search-icon {
    position: absolute;
    margin-left: 215px;
    margin-top: 7px;
  }

  .btn-search {
    background-color: $main-color;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
    width: 100px;
  }
}

.course-lesson {
  li {
    list-style: none;
  }
}

.course-lesson {
  padding: 10px;
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;

  .view-tab {
    background-color: $main-color !important;
    color: white !important;
    font-weight: 700;
    margin-left: 15px;
  }

  .active {
    color : $main-color !important;
    border-color : $main-color $main-color white !important;
    background-color: white !important;
  }

  .nav-tabs {
    border-bottom : 1px solid $main-color;
  }

  .gruop-search {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid $input-border-color;

    .add-course {
      border: 0;
      border-radius: 25px;
      background-color: $main-color;
      color: white;
      padding: 0 20px;
      font-weight: 700;
      margin-right: 50px;

      &:hover {
        background-color: red;
      }
    }
  }
}

.list-lesson {
  padding: 10px 30px;

  .lesson-items {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid $input-border-color;
    padding: 10px 0;

    .number-lesson {
      width: 5%;
      font-size: 17px;
      color : black;
      font-weight: 600;
    }

    .name-lesson {
      width: 85%;

      .content {
        width: 90%;
        font-size: 17px;
        color : black;
        font-weight: 600;
      }
    }

    .link-lesson {
      width: 10%;

      .btn-start-learn {
        padding: 10px 30px;
        background-color: $main-color;
        font-size: 15px;
        color : white;
        border-radius: 22px;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}

.cant-learn {
  padding: 10px 22px;
  background-color: $input-border-color;
  font-size: 15px;
  color : white;
  border-radius: 22px;
  font-weight: 700;
  text-decoration: none;
}

.info-course {
  width: 400px !important;

  .description {
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    .title {
      font-size: 22px;
      color: black;
      font-weight: 600;
      padding-bottom: 5px;
      border-bottom: 2px solid $main-color;
    }

    .content {
      margin-top: 15px;
      font-size: 17px;
      max-height: 355px;
      overflow: hidden;
      -webkit-line-clamp: 14;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }

  .info {
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;

    .info-items {
      display: flex;
      margin-top: 15px;
      align-items: center;

      .icon {
        width: 15%;
        margin-right: 10px;
        font-size: 32px;
        color: $icon-color;
      }

      .title {
        width: 35%;
        font-size: 22px;
        color: $icon-color;
        align-items: center;
        margin-top: 3px;
      }

      .content {
        width: 50%;
        font-size: 22px;
        color: $icon-color;
        font-weight: 700;
        align-items: center;

        span {
          color: $tag-color;
          font-size: 17px;
        }

        a {
          color: $tag-color;
          font-size: 17px;
        }
      }

    }

    .line {
      width: 100%;
      height: 1px;
      background-color: $input-border-color;
      margin-top: 10px;
    }
  }

  .other-course {
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;

    .title {
      text-align: center;
      padding: 10px;
      background-color: $main-color;
      border-radius: 10px 10px 0 0 ;
      font-size: 25px;
      font-weight: 700;
      color: white;
    }
  }
}

.list-course-other {
  margin-top: 10px;
  padding: 20px;

  .course-items {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid $input-border-color;

    .number {
      width: 10%;
      font-size: 16px;
      color: black;
      font-weight: 700;
    }

    .content {
      a{
        font-size: 16px;
        color: black !important;
        font-weight: 700;
        text-decoration: none;

        &:hover {
          color: $main-color !important;
        }
      }
    }
  }
}

.view-all-courses {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  padding-bottom: 30px;

  a {
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    background-color: $main-color;
    font-weight: 700;
    border-radius: 22px;
    text-decoration: none;
  }
}

.main-review {
 padding: 20px;
 margin-top: 10px;

  .title {
    font-size: 25px;
    color: black;
    font-weight: 700;
    padding-bottom: 5px;
  }

  .group-avatar {
    display: flex;
    margin-top: 10px;

    .info {
      margin-left: 20px;
      align-items: center;

      .name {
        font-size: 25px;
        margin-top: 20px;
        color: black;
        font-weight: 600;
      }

      .year {
        font-size: 15px;
        color: $text-color-2;
        font-weight: 600;
      }
    }

    .avatar {
      width: 101px;
      height: 101px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .about-teacher {
    color: black;
    margin-top: 10px;
    font-size: 18px;
  }
}

.side {
  float: left;
  width: 15%;
  margin-top: 5px;
  color: black;
  font-weight: 600;
}

.middle {
  margin-top:15px;
  float: left;
  width: 70%;
}

.right {
  text-align: right;
  margin-top: 5px;
}

.bar-container {
  width: 100%;
  background-color: $bar-color;
  border-radius: 25px;
  text-align: center;
  color: white;
}

.bar-status {
  height: 7px;
  background-color: $main-color;
  border-radius: 25px  0  0 25px;
}

.main-reviews {
  padding: 10px;

  .title {
    font-size: 25px;
    color: black;
    font-weight: 700;
    padding-bottom: 5px;
    margin-top: 20px;
  }

  .view-vote {
    display: flex;

    .all-star-vote {
      width: 244px;
      height: 175px;
      align-items: center;
      text-align: center;
      margin-top: 20px;
      background-color: $layout-color;
      display: inline-block;
      border-radius: 10px;

      .point {
        margin-top: 20px;
        font-size: 50px;
        color: #fff;
        font-weight: 700;
      }

      .star {
        span {
          font-size: 30px;
          font-weight: 700;
        }
      }

      .number-vote {
        color: white;
        margin-top: 5px;
        font-weight: 700;
        font-size: 18px;
      }
    }

    .see-star-vote {
      width: 520px;
      margin-left: 40px;
      padding: 5px;
      border: 1px solid $input-border-color;
      border-radius : 10px;
      height: 175px;
      margin-top: 20px;
    }
  }
}

.user-review {
  padding: 20px;
  border-top: 1px solid $input-border-color;

  .user {
    display: flex;
    align-items: center;
    height: 40px;

    .avatar {
      width: 40px;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .name {
      font-size: 16px;
      color: black;
      font-weight: 700;
      margin-left: 15px;
    }

    .rating {
      margin-left: 20px;

      span {
        color: black;
      }

      .checked {
        color: orange !important;
      }
    }

    .time-coment {
      margin-left: 20px;
      color: $text-color-2;
    }
  }

  .content {
    color: $comment-color;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .user-reply {
    margin-left: 100px;
    padding-top: 10px;
  }
}

.form-comment {
  .title{
    font-size: 18px;
    font-weight: 400;
  }

  label {
    color : $text-color-2;
  }

  .comment-input {
    height: 131px !important;
  }
}

.form-vote {
  display: flex;
  height: 100px;
  align-items: center;

  .vote-title {
    font-size: 18px;
    font-weight: 400;
    color: $text-color-2;
  }

  div.stars {
    display: inline-block;
  }
  input.star { display: none; }
  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
  }

  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }

  input.star-5:checked ~ label.star:before {
    color: #FE7;
  }

  label.star:hover { transform: rotate(-15deg) scale(1.3); }

  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }
}

.btn-comment {
  float: right;

  button {
    background-color: $main-color;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    padding: 10px 30px;
  }
}

.list-teacher {
  margin-top: 20px;
}

.must-login {
  margin-top: 30px;

  a {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    background-color: $main-color;
    color: white;
    border-radius: 22px;
    text-decoration: none;
  }
}

.login-course {
  padding: 10px 20px;
  background-color: $main-color;
  border-radius: 22px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}

.button-reply-items {
  .button-reply {
    color: black !important;
    font-size: 18px !important;
    font-weight: 800 !important;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn-reply {
  margin-top: 20px;
}

.form-reply {
  margin-top: 20px;
}

.edit-button {
  float: right;
  background-color: white;
  transform:translateY(30px);
}

.none {
  display: none !important;
}

.block {
  display: block !important;
}

.box-edit {
  display: none;
  margin-top: 20px;
}

.add-course-comment {
  border: 0;
  border-radius: 25px;
  background-color: $main-color;
  color: white;
  padding: 0 20px;
  font-weight: 700;
  margin-right: 50px;

  &:hover {
    background-color: red;
  }
}