.navbar-nav {
  justify-content: flex-end;
  z-index: 10000 !important;

  li {
    margin-left: 20px;
    padding: 1px 20px;

    a {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
    }

    &:hover {
      background-color: $main-color ;
      border-radius: 17px;
    }

    &:hover a {
      color: white !important;
    }
  }
}

.height-nav {
  height: 120px ;
}

.main-header {
  height: 120px ;
  position: fixed;
  width: 100% ;
  z-index: 1000 ;
  top: 0;
}

.header-content {
  display: flex ;
  justify-content: space-between ;
  width: 95%;
  margin: 0 auto;
}

.on-active {
  background-color: $main-color ;
  border-radius: 17px;

  a {
    color: white !important;
  }
}

.btn-logout {
  background-color: white;
  border-radius: 17px;
  border: 1px solid red;

  &:hover {
    background-color: red !important;
    border-radius: 17px;
    border: 1px solid red;
  }
}

.button-logout {
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  border: 1px solid red;

  button {
    font-size: 15px;
    font-weight: 600;
    color: black;
  }

  &:hover {
    background-color: red !important;
  }

  &:hover button {
    color: white;
  }
}

@media (min-width: 376px) and (max-width: 800px) {
  .nav-show {
    position: absolute ;
    background: white ;
    margin-top: 100px;
    width: 100% ;
    margin-left: -28px ;

    .nav-item {
      padding: 10px;
      border-bottom: 1px solid #ccc;

      li {
        &:hover {
          color: $main-color;
          border-radius: 0 ;
        }
      }
    }
  }

  .navbar-nav li:hover {
    color: $main-color ;
    background-color: white;
    border-radius: 0;
  }

  .navbar-nav li:hover a {
    color: $main-color !important;
  }
}

@media (max-width: 376px){
  .nav-show {
    position: absolute;
    background: white ;
    margin-top: 50px;
    width: 100% ;
    margin-left: -28px ;

    .nav-item {
      padding: 10px;
      border-bottom: 1px solid #ccc;

      li {
        &:hover {
          color: $main-color ;
          border-radius: 0  ;
        }
      }
    }
  }

  .height-nav {
    height: 60px;
  }

  .navbar-nav li:hover {
    color: $main-color ;
    background-color: white ;
    border-radius: 0 ;
  }

  .navbar-nav li:hover a {
    color: $main-color !important;
  }

  .navbar-brand {
    width: 150px;
    height: 27px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.show {
  display: block !important;
}
