.card-login {
  margin-top: 150px;

  .card-body {
    .card-body-title {
      font-size: 24px;
      color: $form-color;
      text-align: center;
      font-weight: 600;
    }

    .text-input {
      font-weight: 600;
    }

    .login-input {
      height: 55px;
      background-color: #fafafa;
      font-weight: 600;
    }

    .btn-login {
      padding: 8px 58px;
      background-color: $form-color;
      color: #fff;
      font-size: 22px;
      border-radius: 25px;
      margin-left: 13px;
    }

    .forgotpassword {
      font-size: 18px;
      color: $main-color;
      text-align: center;
      font-weight: 600;
    }
  }

  .card-footer {
    .card-footer-title {
      font-size: 18px;
      color: $form-color;
      text-align: center;
      font-weight: 600;
    }
  }

  .other-sign {
    margin-top: 20px;

    .aline {
      width: 100%;
      height: 1px;
      background-color: black;
    }

    p {
      font-size: 20px;
      text-align: center;
      padding: 5px;
      width: 200px;
      margin: 0 auto;
      background-color: white;
      transform: translateY(18px);
    }
  }

  .GG-signin {
    text-align: center;
    margin-top: 30px;

    button {
      text-align: center;
      padding: 12px 150px;
      border: 1px solid red;
      border-radius: 25px;
      font-size: 20px;
      color: red;
      font-weight: 400px;
      background-color: white;

      i {
        font-size: 25px;
      }

      &:hover {
        background-color: red;
        color: white;
      }
    }
  }

  .create-account {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 40px;

    a {
      text-align: center;
      padding: 17px 100px;
      background-color: $main-color;
      color:white;
      font-size: 22px;
      border-radius: 22px;
    }
  }
}

.login-form {
  margin-bottom: 100px;
}
