.profile-templete {
    margin-top: 150px;
}

.group-avatar {
  border-bottom: 3px solid #dcdcdc;
  padding-bottom: 10px;

  .avatar {
    width: 260px;
    height: 260px;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
  }

  .name {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }

  .email {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color : $email-color;
  }
}

.group-avatar-2 {
  margin-top: 20px;

  .item {
    display: flex;
    border-bottom: 3px solid #dcdcdc;
    padding-bottom: 0;
    margin-top: 10px;

    .span-birth-image {
      width: 60px;
      height: 20px;

      img {
        width: 25px;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .description {
    text-align: justify;
    margin-top: 10px;
  }
}

.profile-list-course {
  margin-top: 100px;

  .title {
    font-size: 35px;
    font-weight: 700;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: $main-color;
    margin-top: 3px;
  }

  .content {
    width: 80%;
    margin: 20px auto;

    .item {
      float: left;
      text-align: center;
      margin-left: 10px;
      margin-top: 10px;

      img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        object-fit: cover;
      }

      .name {
        font-size: 14px;
        font-weight: 600;
        margin-top: 3px;
        color: black;
      }

      .add-item-icon {
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 50%;
        justify-content: center;
        border: 2px solid $main-color;
        color : $main-color;
      }

      .add-name {
        color: $main-color;
      }

      &:hover a {
        text-decoration: none;

        .add-item-icon {
          background-color: $main-color;
          color : white;
        }
      }
    }
  }
}

.edit-profile {
  margin-top: 50px;
  margin-bottom: 50px;

  .row-edit-profile {
    margin-top: 20px;

    .invalid-feedback {
      display: block !important;
    }
  }

  .form-label {
    font-weight: 600;
  }

  .button-save {
    float: right;
  }
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  margin: 0 auto;
  width: 100%;
  margin-top: -100px;
  transform: translateY(-30px);
  margin-left: -42px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  cursor: pointer;
}

.upload-avatar {
  text-align: center;
}

@media (max-width: 800px) {
  .row-profile {
    display: block !important;
  }

  .info-user-haver {
    display: flex;
  }

  .profile-first-info {
    width: 100% !important;

    .group-avatar-2 {
      width: 100% !important;
    }
  }

  .profile-body {
    width: 100% !important;

    .profile-list-course {
      margin-top: 10px;
    }
  }
}

@media (max-width: 376px) {
  .info-user-haver {
    display: block !important;
  }

  .group-avatar {
    .avatar {
      width: 100% !important;
      height: 350px !important;

      img {
        width: 100%;
        height: 350px;
      }
    }
  }

  .profile-templete {
    margin-top: 100px !important;
  }

  .inputfile + label {
    margin-left: 0 !important;
  }

  .edit-profile {
    .row-edit-profile {
      display: block !important;
    }

    .col-edit-profile {
      width: 100% !important;
    }
  }
}
