@media (max-width: 376px) {
  .main{
    margin-top: 40px;
  }
  .logo-image {
    width: 150px !important;
  }

  .items {
    display: block !important;
    height: 390px;

    .img-items {
      height: 220px !important;
      border-radius: 15px 15px 0 0;
    }

    .content-items {
      text-align: center;

      .content {
        width: 90% ;
        margin: 0 auto ;
      }

      .title {
        margin-left: 0 ;
      }

      .btn-link {
        text-align: center;
        margin-top: 15px;
        a {
          font-size: 14px;
          padding: 7px 14px;
          text-align: center;
        }
      }
    }
  }
}
