@media (max-width:376px) {
  .logo-image {
    width: 150px ;
  }
    
  .banner-content-title{
    font-size: 26px ;
  }

  .h-100 {
    height: 60px ;
  }

  .banner {
    height: 200px ;
    display: flex;
    justify-content: center;
    width: 100% ;
    margin-top: 60px ;
  }

  .banner-content {
    position: absolute;
    margin-top: 500px;
    width: 80% ;
    margin-left: 20%;

    .link-learn {
      font-size: 20px;
      padding: 12px 52px;
    }
  }

  .first-layout {
    background-color: #fff;
    margin-top: 60px;
    height: 600px;
  }

  .items {
    display: block ;
    height: 390px ;

    .img-items {
      height: 220px !important;
      border-radius: 15px 15px 0 0;
    }

    .content-items {
      text-align: center;

      .content {
        width: 90% ;
        margin: 0 auto ;
      }

      .title {
        margin-left: 0 ;
      }

      .btn-link {
        text-align: center;
        margin-top: 15px;
        a {
          font-size: 14px;
          padding: 7px 14px;
          text-align: center;
        }
      }
    }
  }

  .nav-show {
    position: absolute ;
    background: #fff ;
    margin-top: 50px;
    width: 100% ;
    margin-left: -28px ;

    .nav-item {
      padding: 10px;
      border-bottom: 1px solid #ccc;

      li {
        &:hover {
          color: #b2d235 ;
          border-radius: 0 ;
        }
      }
    }
  }

  .navbar-nav li:hover {
    color: #b2d235 ;
    background-color: #fff;
    border-radius: 0 ;
  }
  
  .navbar-nav li:hover a {
    color: #b2d235;
  }

  .main-content {

    .view-more-title a{
      font-size: 22px ;
    }
  }

  .line-border{
    width: 70%  !important;
    margin: 0 auto;
  }

  .big-tittle {
    font-size: 40px !important;
  }

  .banner-connect {
    height: 570px;
    display: block ;

    .banner-connect-content {
      margin-left: 15px;
      margin-top: 20px;

      .banner-connect-content-title {
        font-size: 40px;
        text-align: center;
      }

      .text-banner-connect {
        font-size: 14px;
      }
    }

    .banner-connect-img {
      width: 100%;
      height: auto;
    }
  }

  .feed-back {

    .feed-back-slogan {
      font-size: 16px;
    }

    .list-feedback {
      width: 90% ;
      margin: 0 auto ;
      margin-top: 20px ;
      margin-bottom: 20px ;

      .owl-dots {
        display: none;
      }
    }

    .content-feed {
      padding:40px 5px  28px 28px ;

      .line-d {
        margin-top: 0 ;
      }
    }
  }

  .banner-startlearn {
    height: 182px ;

    .banner-startlearn-content {

      .banner-startlearn-title {
        font-size: 23px;
      }

      .banner-startlearn-link{
        padding:10px 20px;
        width: 200px ;
        a {
          font-size: 18px;
          width: auto ;
        }
      }
    }
  }

  .list-statistic {
    display: block ;
    padding-bottom: 50px ;

    .list-item{
      margin-top: 30px ;
    }
  }

  .footer-mobie {
    display: block;

    .footer-mobie-content {
      width: 95% ;
      margin: 0 auto;

      .w-50 {
        float: left !important;
        margin: 10px;
        width: 40% !important;
      }
    } 
  }

  .list-icon {
    padding-left: 20px ;

    .icon-item {
      a {
        margin: 10px ;
      }
    }
  }

  .footer {
    display: none ;
  }
  
  .list-address {
    display: none;
  }
}  
